body{
	background-color: rgb(230, 230, 200);
}

h1{
	text-align: center;	
	width: 350px;
	background-color: rgb(200, 200, 150);
	color: rgb(120, 60, 60);
	margin: auto;
}

img{
	float: right;
}

#personalInfo{
	width: 750px;
	height: 200px;
	text-align: justify;	
}

ul{
	padding-left: 25px;
	border: 3px;
	border-style: double;
	border-color: rgb(220, 185, 255);
}

a{
	text-decoration: none;
	color: rgb(111, 0, 111);
}
a:hover{
	text-decoration: underline;
	color: rgb(270, 0, 270);
}