body{
	
}

.profile{
	width: 100%;
	height: 50%;
	padding-top: 1%;
}

/**********/

.picture{
	width: 29%;
	float: left;
}

.profile_picture{
	width: 100%;
	height: 100%;
}

/*********/

.about{
	float: left;
	width: 70%;
	height: 100%;
	text-align: center;
	text-decoration: none;
	color: rgb(40, 40, 40);
	font-family: arial;
}

.about:hover{
	background: yellow;
	.arrow_left:background: yellow;
}

.name{
	font-size: 3ex;
	padding-top: 2ex;
	letter-spacing: .5ex;
}

.designation{
	font-size: 2ex;
	width: 20%;
	margin: auto;
	margin-top: 1ex;
	padding: 1ex 0ex 1ex 0ex;
	border-style: solid;
    border-color: rgb(40, 40, 40);;
}

.description{
	padding-top: 2ex;
	font-size: 2ex;
}

.line{
	width: 40%;
	height: 1px;
	margin: auto;
	margin-top: 2ex;
	margin-bottom: 2ex;
	background: rgb(40, 40, 40);
}

.aa{
	display: block;
}

.site{
	text-align: center;
	float: left;
}

.site_ico{
	text-decoration: none;
	width: 10%;
	height: 20%;
}

.arrow_left {
	width: 0; 
	height: 0; 
	border-top: 1.5ex solid transparent;
	border-bottom: 1.5ex solid transparent; 
	border-right: 2ex solid white;
	position: relative;
	margin-left: -2ex;
	margin-top: -13ex;
}
