h1{
	font-family: Calibri, sans-serif;
	font-size: 45px;
	background: rgb(100, 100, 200);
	color: white;
	padding-left: 5px;
	margin-bottom: 50px;
}

#message{
	font-family: Arial, sans-serif;
	margin-left: 60px;
	margin-bottom: 50px;
	font-size: 28px;
	color: rgb(150, 100, 100);
	font-weight: bold;
}

#SmartPhone{
	padding-top: 30px;
	padding-left: 65px; 
	float: left;
}

#smartPhoneImage{
	padding-left: 55px; 
}

#smartPhoneText{
	color: blue;
	font-size: 20px;
}

form ul{
	padding-left: 570px;
}

#prompt{
	font-size: 40px;
	color: rgb(200, 200, 255);
	font-weight: bold;
	font-family: Calibri, sans-serif;
}

form li{
	list-style: none;
	margin-bottom: 30px;
}

#personalInfo input{
	width: 255px;
	height: 25px;
}

div label {
	display: block;
	color: blue;
}

#button{
	margin-left: 205px;
}