body{
	width: 640px;
	margin: auto;
}

#main_view{
	padding-top: 100px;
	padding-bottom: 50px;
	width: 640px;
	height: 400px;
}

#short_view{
	width: 640px;
}

.short_view_image{
	width: 64px;
	height: 40px;
	margin-left: 5px;
	margin-right: 5px;
}