html{
	background-color: rgb(200, 190, 190);
}

body{
	font-family: tahoma;
	margin: auto;
	width: 780px;
	background-color: rgb(20, 20, 250);
}

#up{
	
}

#mid{
	height: 720px;
}

#down{
	text-align: center;
}

#left{
	width: 135px;
	float: left;
}

#middle{
	width: 510px;
	float: left;
}

#right{
	width: 135px;
	float: right;
}

#topbar{
	background-image: url("../images/topbar.gif");
	background-repeat: repeat-x;
	height: 25px;
	width: 780px;
}

#btmbar{
	background-image: url("../images/btmbar.gif");
	background-repeat: repeat-x;
	height: 22px;
	width: 780px;
}

#menu1{
	margin: 5px;
	background-image: url("../images/menubg.jpg");
	background-repeat: repeat-x;
	height: 166px;
	width: 115px;
	padding-top: 5px;
	border: 5px solid rgb(80, 80, 250);
}

#menu2{
	margin: 5px;
	background-image: url("../images/menubg2.jpg");
	background-repeat: repeat-x;
	height: 246px;
	width: 115px;
	padding-top: 5px;
	border: 5px solid rgb(80, 80, 250);
}

#download{
	margin: 5px;
	background-image: url("../images/downloadbg.gif");
	background-repeat: repeat-x;
	height: 172px;
	width: 115px;
	padding-top: 5px;
	border: 5px solid rgb(230, 20, 230);
}

a{
	color: rgb(250, 250, 250);
	text-decoration: none;
}

a:hover {
    color: rgb(250, 250, 20);
} 

#copyright{
	font-size: 9px;
	color: rgb(250, 250, 250);
	padding: 11px;
}

.mainmenu{
	width: 500px;
	height: 135px;
	background-color: rgb(250, 20, 20);
	margin: 5px;
	padding-top: 3px;
}

.img{
	width: 125px;
	float: left;
}

.othergames{
	font-size: 13px;
	padding-left: 135px;
	padding-top: 5px;
	color: rgb(255, 255, 255);
}

.gamename{
	font-size: 16px;
	text-align: center;
	color: rgb(200, 200, 20);
	font-weight: bold;
}

.bonusimg{
	margin: 5px;
	height: 125px;
}

.playnow{
	position: relative; 
	left: 20; 
	top: -24;
}

.menutitle{
	color: rgb(250, 250, 250);
	background-image: url("../images/menubutton1.jpg");
	margin-bottom: 5px;
	font-size: 14px;
	padding-left: 10px;
}

.menuitem{
	color: rgb(250, 250, 250);
	background-image: url("../images/menu2button.jpg");
	margin-bottom: 5px;
	font-size: 12px;
	padding-left: 20px;
}

#endlinks{
	padding-top: 5px;
	color: rgb(250, 250, 250);
	font-size: 12px;
}

#downloadnow{
	color: rgb(250, 250, 250);
	text-align: center;
}

#downloadtext{
	color: rgb(250, 250, 250);
	font-size: 12;
}

#downloadbutton{
	width: 115px;
	padding-top: 20px;
	margin-left: -2px;
}
